@font-face {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  src: local("Playfair Display"), url("../fonts/PlayfairDisplay-medium.ttf");
}

@font-face {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  src: local("Gilroy"), url("../fonts/Gilroy-regular.ttf");
}

@font-face {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  src: local("Gilroy"), url("../fonts/Gilroy-medium.ttf");
}

@font-face {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  src: local("Gilroy"), url("../fonts/Gilroy-semibold.ttf");
}