@import "./fonts.scss";
@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: $font-body;
  color: $color-text-body;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  &__wrapper {
    position: relative;
    // overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 586px;
    padding: 262px 292px;
  }

  &__title {
    font: $font-h1-gilroy;
    text-align: center;
    letter-spacing: -4px;
    line-height: 255px;

    &--italic {
      font: $font-h1-playfair;
    }
  }

  &__bubbles {
    position: relative;

    #bubble_1 {
      position: absolute;
      top: 50px;
      right: -50px;
      transform: rotate(-30deg);
      width: 511px;
      height: 660px;
    }

    #bubble_2 {
      position: absolute;
      top: 320px;
      left: -110px;
      transform: rotate(-36.32deg);
      width: 526px;
      height: 615px;
    }

    #bubble_3 {
      position: absolute;
      top: 190px;
      left: 170px;
      transform: rotate(-16.76deg);
      width: 217px;
      height: 220px;
    }

    #bubble_4 {
      position: absolute;
      top: 550px;
      right: 290px;
      transform: rotate(-36.24deg);
      width: 183px;
      height: 203px;
    }
  }
}

.section {
  &__wrapper {
    padding: 70px;
  }

  &__title {
    font: $font-h2-gilroy;
    text-align: center;

    &--italic {
      font: $font-h2-playfair;
    }
  }
}

.missions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 96px;
  margin: 170px 0 155px;

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 27px;

    &_icon {
      min-width: 83px;
      height: 83px;
      border: 1px solid $color-border;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      img {
        width: 44px;
        height: 44px;
      }
    }

  }
}

.works {
  position: relative;
  height: 1154px;
  margin: 206px 16px 155px;

  &__item {
    position: absolute;
    border: 1px solid $color-border;
    border-radius: 50%;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 274px;
    height: 274px;
    z-index: 2;

    span {
      padding: 30px;
    }

    &#work_1 {
      width: 426px;
      height: 426px;
      top: 0;
      left: 92px;
    }

    &#work_2 {
      width: 164px;
      height: 164px;
      top: 76px;
      right: 249px;
    }

    &#work_3 {
      width: 598px;
      height: 598px;
      top: 214px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;

      span {
        padding: 86px;
      }
    }

    &#work_4 {
      top: 214px;
      right: 0;
    }

    &#work_5 {
      bottom: 399px;
      left: 0;
    }

    &#work_6 {
      width: 426px;
      height: 426px;
      bottom: 163px;
      right: 43px;

      span {
        padding: 60px;
      }
    }

    &#work_7 {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}