$color-text-body: #2B3034;
$color-background-body: #FDFDFF;

$font-body: 400 28px/1.5 "Gilroy", sans-serif;
$font-h1-playfair: italic 222px "Playfair Display", serif;
$font-h1-gilroy: 500 191px "Gilroy", sans-serif;
