$color-main: #2B3034;
$color-secondary: #4F616D;
$color-white: #FFFFFF;

$font-body: 400 28px/1.5 "Gilroy", sans-serif;
$font-h1-playfair: italic 222px "Playfair Display", serif;
$font-h1-gilroy: 500 191px "Gilroy", sans-serif;
$font-h2-playfair: italic 84px "Playfair Display", serif;
$font-h2-gilroy: 500 73px "Gilroy", sans-serif;
$font-button-gilroy: 600 45px "Gilroy", sans-serif;
