$color-main: #2B3034;
$color-secondary: #4F616D;
$color-white: #FFFFFF;
$color-card1: #F5F5F5;
$color-card2: #F3F9FE;
$color-card3: #BBC1C5;
$color-gray: #C1C1C1;
$color-black: #000000;

$font-body: 400 28px/1.5 "Gilroy", sans-serif;
$font-h1-playfair: italic 222px "Playfair Display", serif;
$font-h1-gilroy: 500 191px "Gilroy", sans-serif;
$font-h2-playfair: italic 84px "Playfair Display", serif;
$font-h2-gilroy: 500 73px "Gilroy", sans-serif;
$font-button-gilroy: 600 45px "Gilroy", sans-serif;
$font-large-gilroy: 400 300px "Gilroy", sans-serif;
$font-small-gilroy: 400 17px "Gilroy", sans-serif;
$font-small-bold-gilroy: 600 17px "Gilroy", sans-serif;
$font-browser: 400 17px "Inter", sans-serif;